*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
    text-decoration: none;
}

html{
    scroll-behavior: smooth; 
}


.app{
    position: relative;
    overflow: hidden;
}

.header{
    height: 100px;
    display: flex;
    align-items: center;
    background-color: rgba(0,0,0,0.12) ;
    padding: 0 50px;
    justify-content: space-between;
    position: relative;
    z-index: 1;
}

.header__img{
    min-width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__img img {
    width: 160px;
}

.header__wrapper{
    min-width: 1000px;
}

.header__wrapper-ul{
    display: flex;
}

.header__wrapper-a{
    padding: 25px 15px;
    color: #fff;
    font-size: 1.1rem;
}

.header__wrapper-li:hover  .menu,
.menu__li:hover  .menu__con{
    display: block;
    animation: hover 0.3s linear;
}

@keyframes hover{
    0%{
        transform: translateY(50px);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}

.fa-bars{
    color: #a3a3a3;
    font-size: 25px;
    cursor: pointer;
}

.menu,
.menu__con{
    position: absolute;
    background-color: #fff;
    width: 190px;
    box-shadow: 0px 2px 5px #f1f1f1;
    border-radius: 4px;
    top: 80%;
    display: none;
}

.menu__li{
    padding: 15px 25px;
    border-bottom: 1px solid #f1f1f1;
    cursor: pointer;
}

.menu__li:hover{
    background-color: #f9f9f9;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.menu__li a{
    color: #9a9a9a;
}


.menu__after::after{
    content: "HOT";
    background-color: #f76570;
    color: #fff;
    font-size: 0.6rem;
    padding: 3px 5px;
    border-radius: 4px;
    float: right;
}

.fa-caret-right{
    float: right;
    color: #9a9a9a;
}

.menu__con{
    top: 40%;
    left: 110%;
}

.Tour__Package::before,
.AboutUs::before,
.Contact::before,
.NEWS::before{
    content: "";
    position: absolute;
    width: 20px;
    height: 140px;
    left: 100%;
    top: 42%;
}

.menu__li-after::after{
    content: "BEST";
    background-color: #14b9d5;
    color: #fff;
    font-size: 0.6rem;
    padding: 3px 5px;
    border-radius: 4px;
    float: right;
}

.ABOUT__after::after{
    content: "NEW";
    background-color: #1bbc9b;
    color: #fff;
    font-size: 0.6rem;
    padding: 3px 5px;
    border-radius: 4px;
    float: right;
}

.AboutUs1,
.AboutUs::before{
    top: 80%;
}

.AboutUs::before,
.Contact::before,
.NEWS::before{
    height: 40px;
}

.Contact1,
.Contact::before{
    top: 88%;
}

.NEWS1,
.NEWS::before{
    top: 56%;
}

.BOOKNOW{
    background-color: #ba71da;
    border-radius: 30px;
    padding: 10px 15px !important;
    margin-left: 15px;
}

.options{
    position: relative;
}

.options1{
    width: 100%;
    text-align: center;
    line-height: 1.4;
    z-index: 1;
}

.options1 h2::after{
    content: "";
    position: absolute;
    background-color: #ffd105;
    width: 140px;
    height: 6px;
    top: 60%;
    left: 24%;
    z-index: -1;
}

.h2after::after{
    width: 112px !important;
    left: 31% !important;
    background-color: #f3a46b !important;
}

.options__ul{
    position: fixed;
    padding: 20px;
    top: 0;
    right: -100%;
    background-color: #fff;
    overflow-y:auto;
    height: 100%;
    transition: right 0.5s ease-in-out;
    border-left: 1px solid #f1f1f1;
}

.close{
    display: none;
}

.fa-times-circle{
    float: right;
    font-size: 25px;
    color: #a3a3a3;
    cursor: pointer;
}

.fa-times-circle:hover{
    color: #555;
}

.options__li{
    position: relative;
    display: flex;
    padding: 15px;
    justify-content: space-between;
}

.options__li img {
    width: 100px;
    height: 100px;
}

.options__con{
    min-width: 130px;
}

.options__con h3{
    font-weight: 200;
    margin-bottom: 4px;
}

.options__link1{
    display: flex;
    color: #9a9a9a;
    margin-bottom: 20px;
    align-items: center;
}

.options__link2{
    padding: 10px;
    border-radius: 30px;
    font-size: 14px;
    color: #fff;
}


.options__link1 h3{
    font-size: 1rem;
    font-weight: 300;
}

.options__link1 img {
    width: 14px;
    height: 14px;
    margin-right: 6px;
}

.travel__section img {
    width: 264px;
    height: 264px;
}

.travel1{
    position: absolute;
    top: 10%;
    left: 10%;
}

.travel1 img {
    width: 35px;
    height: 35px;
}

.travel2{
    position: absolute;
    top: 70%;
    left: 10%;
    color: #fff;
    line-height: 1.4;
}

.travel2 h4{
    letter-spacing: 2px;
}


.travel__section12{
    position: absolute;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

.options__li:hover  .travel__section12,
.container2__con:hover .travel__section12{
    opacity: 1;
}
.travel__section1{
    background-color: #14b9d5;
    height: 264px;
    width: 264px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.travel__section1 h3{
    color: #fff;
    margin-bottom: 20px;
}

.travel__section1-link p{
    margin: 10px 0;
    color: #fff;
}

.travel__section1-view p{
    background-color: #fff;
    color: #14b9d5;
    margin-top: 20px;
    padding: 10px 20px;
    display: inline-block;
    border-radius: 30px;
    font-size: 14px;
}


.container{
    margin-top: -10%;
}

.container1_title-cha{
    position: relative;
    padding: 196px 75px;
    z-index: 0;
}

.container1{
    background-image: url(../img/parallax-2.jpg);
    background-position: center;
    background-size: cover;
}

.container1_title{
    width: 100%;
    text-align: center;
}

.container1_title h1{
    color: #fff;
    font-size: 50px;
    line-height: 50px;
    margin-bottom: 34px;
}

.container1_title h1::after{
    content: "";
    position: absolute;
    background-color: #ba71da;
    width: 180px;
    height: 6px;
    top: 31.5%;
    right: 28%;
    z-index: -1;
}

.container1_title h4{
    font-size: 20px;
    color: #fff;
    letter-spacing: 4px;
    line-height: 20px;
    font-weight: 400;
    margin-bottom: 64px;
}

.container1__search select{
    padding: 10px 25px;
    outline: none;
    border: none;
    border-radius: 30px;
    width: 370px;
    margin-bottom: 54px;
    letter-spacing: 1px;
    color: #a3a3a3;
    font-size: 16px;
}

/* bỏ dấu mũi tên của thẻ select */
select {
    /* for Firefox */
    -moz-appearance: none;
    /* for Chrome */
    -webkit-appearance: none;
}
  


.ti-search{
    position: absolute;
    right: 38%;
    margin-top: 10px;
    color: #a3a3a3;
    cursor: pointer;
}

.container1__box{
    display: flex;
    justify-content: center;
}

.container1__link{
    width: 10%;
    background-color: rgba(0,0,0,0.31);
    padding: 20px;
    margin: 0 10px;
}


.container1__link:hover{
    transform: translateY(-10px);
    transition: all 0.2s ease-in-out;
}

.container1__box-img{
    width: 40px;
}

.container1__box-link h6{
    color: #fff;
    padding: 6px 0;
    letter-spacing: 2px;
}

.container2{
    width: 1170px;
    margin: auto;
    position: relative;
    margin-top: 50px;
}

.container2__title{
    text-align: center;
    line-height: 2;
    color: #555;
    letter-spacing: 2px;
}


.container2__title h1::after{
    content: "";
    position: absolute;
    width: 22.5%;
    height: 6px;
    background-color: #1bbc9bed;
    top: 8%;
    right: 35%;
    z-index: -1;
}

.container2__char{
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-top: 26px;
}

.container2__con{
    width: 370px;
    height: 370px;
}

.container2__travel1{
    top: 10%;
    left: 10%;
}

.container2__travel2{
    left: 10%;
    top: 76%;
}

.container2__travel{
    position: absolute;
    top: 0;
}

.travel__section-img{
    filter: brightness(85%); /* làm cho ảnh tối đi */
}

.container2__travel > .travel__section-img,
.container2__travel-section1{
    width: 370px ;
    height: 370px;
}

.container3__char{
    position: relative;
    background: url(../img/img13.jpg);
    background-position: center; /*hình muốn lấy là ở giữa */
    background-size: cover;       /*cover kich thước ảnh */  
    padding: 50px 75px;
    margin-top: 60px;
    z-index: 0;
}

.container3__wrappe{
    display: flex;
    justify-content: space-evenly;
}

.container3__wrappe1{
    font-size: 50px;
    color: #fff;
    z-index: 0;
}

.container3__wrappe1-p2::after{
    content: "";
    position: absolute;
    width: 12%;
    height: 6px;
    background-color: #f76570;
    top: 72%;
    right: 57%;
    z-index: -1;
}

.container3__wrappe2{
    text-align: center;
    line-height: 116px;
}

.container3__wrappe2-link {
    color: #f76570;
    padding: 15px 35px;
    background-color: #fff;
    border-radius: 30px;
}

.container3__wrappe2:hover{
    transform: translateY(-10px);
    transition: all 0.3s ease-in-out;
}

.container2__column-char{
    display: flex;
    margin-bottom: 30px;
}

.container2__column1{
    flex: 1;
    
}

.container2__column1 h2{
    font-size: 36px;
    color: #555;
    margin: 15px 0;
    position: relative;
}

.container2__column1 h2::after{
    content: "";
    position: absolute;
    width: 150px;
    height: 6px;
    background-color: #14b9d5ed;
    top: 70%;
    left: 160px;
    z-index: -1;
}

.container2__column1 p {
    margin-top: 30px;
    line-height: 1.4;
    letter-spacing: 2px;
    font-size: 14px;
    color: #9a9a9a;
}


.container2__column1-con{
    margin: 30px 0 60px;
    font-size: 30px;
}

.container2__800{
    color: #dadada;
    text-decoration: line-through;
}

.container2__FOR{
    font-size: 14px;
    color: #555;
    letter-spacing: 1px;
}

.container2__column1-link{
    padding: 15px 35px;
    background-color: #1bbc9b;
    border-radius: 30px;
    color: #fff;
}

.container2__column2{
    flex: 2;
    width: 1px;
}

.container2__column2-con img{
    width: 100%;
    height: 410px;
}


.container2__column-char1,
.container2__column-options{
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
}

.container2__column-options1{
    max-width: 300px;
}

.container2__column-options1 h3{
    font-size: 24px;
    color: #555;
}

.container2__column-options1 p{
    margin: 20px 0;
    line-height: 24px;
    color: #9a9a9a;
    letter-spacing: 1px;
}

.container2__column-options1 a{
    color: #14b9d5;
    font-size: 15px;
}

/* begin css slick slide */
.slick-dots {
	display: flex;
	justify-content: center;
	margin: 0;
	padding: 1rem 0;
	list-style-type: none;
	position: absolute;
    top: 0;
    left: 36%;
}
.slick-dots  li{
    margin: 10px;
}

.slick-dots button {
    display: block;
    width: 60px;
    height: 3px;
    padding: 0;
    border: none;
    background: rgba(255,255,255,0.5);
    text-indent: -9999px;
}

.slick-dots li.slick-active button,
.slick-dots  li:hover{
    background-color: #fff;
}

.slick-dots  li button:hover{
    cursor: pointer;
}

/* end begin css slick slide  */

.container2__column2-con1{
    position: absolute;
    display: flex;
    background-color: #14b9d5;
    color: #fff;
    top: 50%;
    left: 50%;
    transform: translateX(-64px);
}

.container2__column2-time{
    padding: 30px 20px;
    text-align: center;
    position: relative;
    min-width: 130px;
}

.container2__column2-time h1{
    font-size: 35px;
    font-weight: 300;
}

.container2__column2-time h6{
    font-size: 14px;
    letter-spacing: 2px;
    font-weight: 300;
}

.container2__after::after{
    content: "/";
    position: absolute;
    top: 26px;
    font-size: 60px;
    left: 122px;
    color: #000;
    opacity: 0.05;
}

.wpb_column{
    display: flex;
    margin-top: 64px;
}

.wpb_column1{
    width: 50%;
}

.column__inner1,
.column__inner2{
    background-position: center;
    background-size: cover;
    padding: 60px 15px;
    text-align: center;
}

.column__inner1 h3,
.column__inner2 h3{
    color: #fff;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 2px;
    margin-bottom: 20px;
}

.column__inner1 h2,
.column__inner2 h2{
    font-size: 36px;
    color: #fff;
    margin-bottom: 40px;
}

.column__inner1 a,
.column__inner2 a{
    padding: 15px 35px;
    background-color: #fff;
    color: #f3a46b;
    border-radius: 30px;
    letter-spacing: 2px;
    font-size: 14px;
}

.column__inner2 a{
    color: #1bbc9b;
}

.column__inner1{
    background-image: url(../img/img14.jpg);
}

.column__inner2{
    background-image: url(../img/img15.jpg);
}

.PACKAGES__after::after{
    width: 16.5% !important;
    top: 72px !important;
    right: 38% !important;
}

.container4{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 40px;
}

.container4__con{
    width: 370px;
    border: 1px solid #f1f1f1;
    border-radius: 4px;
}

.container4__con-img{
    position: relative;
}

.container4__con-img img{
    width: -webkit-fill-available;  /*ảnh chiểm 100% của thẻ cha */
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.container4__img{
    position: absolute;
    bottom: -20px;
    right: 20px;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.container4__img img{
    width: 26px;
    height: 26px;
}

.container4__options,
.container4__Content1-title{
    padding: 20px 0;
    border-bottom: 1px solid #f1f1f1;
}

.container4__options a{
    margin: 0;
}


.container4__Content1{
    padding:0 30px 30px;
}

.container4__Content1-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container4__title1-con1 a,
.container4__title1-con2 a{
    color: #555;
    line-height: 24px;
    text-transform: uppercase; /* viết hoa tất cả các chữ thường */
}

.container4__title1-con2 span{
    color: #fff;
    border-radius: 10px;
    padding: 0 8px;
    margin-left: 6px;
}

.container4__title2 span{
    font-size: 26px;
    color: #555;
}

.container4__Content1-title1{
    padding-top: 20px;
}

.container4__Content1-title1 p{
    margin-bottom: 20px;
    color: #9a9a9a;
    line-height: 2;
    letter-spacing: 1px;
}

.footer{
    background-image: url(../img/footer.jpg);
    background-position: center;
    background-size: cover;
    margin-top: 60px;
}

.foorter0{
    width: 1200px;
    margin: auto;
}

.footer1{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 210px;
}

.footer1__left h3{
    color: #9a9a9a;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 1px;
}

.footer1__left h1{
    margin-top: 20px;
    font-size: 36px;
    color: #555;
    font-weight: bold;
}

.footer1__right-text,
.footer1__right-submit{
    padding: 10px 20px;
    border: none;
    outline: none;
    border-radius: 30px;
}

.footer1__right-submit{
    background-color: #14b9d5;
    color: #fff;
    letter-spacing: 2px;
    font-size: 16px;
    cursor: pointer;
    margin-left: 20px;
}

.footer2{
    background-color: #fff;
    padding: 35px 30px;
    display: flex;
    justify-content: space-between;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.footer2__left{
    flex: 3;
    padding: 15px 25px;
}

.footer2__left-title{
    margin: 25px 0;
    color: #9a9a9a;
    line-height: 2;
    letter-spacing: 2px;
    font-size: 14px;
}


.footer2__left-title u{
    text-decoration: underline;
}

.footer2__left-icon i{
    color: #000;
    font-size: 22px;
    margin-right: 20px;
}

.footer2__right{
    flex: 1;
    padding: 0 15px;
}

.footer2__right h6{
    font-size: 14px;
    color: #555;
    margin-top: 22px;
    margin-bottom: 35px;
    letter-spacing: 2px;
    font-weight: 800;
}

.footer2__right p{
    padding: 4px 0;
    color: #9a9a9a;
}

.footer3{
    display: flex;
    padding: 20px;
    background-color: #14b9d5;
    justify-content: space-between;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.footer3 h6{
    color: #fff;
    font-size: 12px;
    letter-spacing: 2px;
}

.icon__top{
    position: fixed;
    bottom: 50px;
    right: 50px;
    width: 50px;
    height: 50px;
}

.icon__top a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background-color: #62b35d;
    border-radius: 50%;
}

.icon__top i{
    color: #fff;
}

.icon__top::before{
    content: "";
    position: absolute;
    background-color: #62b35d;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    z-index: -1;
    animation: waves 3s linear 0.5s infinite;
}


@keyframes waves{
    0%{
        transform: scale(0.7);
        opacity: 0.2;
    }

    50%{
        transform: scale(1.5);
        opacity: 0.2;
    }

    100%{
        transform: scale(0.7);
        opacity: 0.2;
    }
}
